* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f3f3f3;
}

.container {
  max-width: 100rem;
  margin-inline: auto;
  background-color: #fff;
}

.navigation {
  display: flex;
  justify-content: space-between;
  padding-block: 1.25rem;
  padding-inline: 2.5rem;
  /* for work */
  /* background-color: aquamarine; */
}

.navigation > .navigation__menu-group {
  display: flex;
  gap: 2.5rem;
  align-items: center;
  padding-left: 0;
  margin-block: 0;
  list-style: none;
  /* for work */
  /* background-color: bisque; */
}

.navigation__menu-group.navigation__menu-group-right {
  gap: 1.875rem;
}

.navigation__menu-group > li {
  text-transform: capitalize;
}

.navigation__logo {
  width: 3.75rem;
  height: 1.75rem;
  background-color: black;
}
