@import 'https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap';

$margin-y: 1.5rem;
$margin-x: 1.5rem;
$title-w: 16.25rem;
$title-ratio: 519 / 58;

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;

  /* scroll-snap-type: y mandatory; */
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5625rem;
  background-color: #fd5f8d;
  animation: bg linear;
  animation-timeline: scroll();
}

@keyframes bg {
  0%,
  8.3333335% {
    background-color: #fd5f8d;
  }

  16.666667%,
  25% {
    background-color: #fff;
  }

  33.333333%,
  41.6666665% {
    background-color: #00c1b5;
  }

  50%,
  58.3333335% {
    background-color: #ff651a;
  }

  66.666667%,
  75% {
    background-color: #ffbe00;
  }

  83.3333337%,
  92% {
    background-color: #1d3fbb;
  }

  100% {
    background-color: #e30512;
  }
}

a {
  color: #000;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.fixed {
  position: fixed;

  &--pos {
    &-tl {
      top: $margin-y;
      left: $margin-x;
    }

    &-tr {
      top: $margin-y;
      right: $margin-x;

      @media (width < 37.5rem) {
        display: none;
      }
    }

    &-br {
      right: $margin-x;
      bottom: $margin-y;
    }

    &-bl {
      right: 9.375rem;
      bottom: $margin-y;
      left: $margin-x;

      @media (width < 37.5rem) {
        display: none;
      }
    }
  }

  &--role {
    &-title {
      display: block;
      width: $title-w;
      aspect-ratio: $title-ratio;
    }

    &-contact {
      margin-block: 0;
      font-weight: 700;
    }

    &-list {
      padding-left: 0;
      margin-block: 0;
      line-height: 1.8rem;
      text-transform: capitalize;
      list-style: none;
    }

    &-about {
      max-width: 60ch;

      > p {
        margin-block: 0;
      }
    }
  }

  &__desc {
    font-weight: 700;
    text-wrap: balance;
  }

  &__copyrights {
    font-size: 0.75rem;

    > a {
      text-decoration: underline;
    }
  }

  &__policy {
    display: block;
    margin-top: 1.5625rem;
    font-weight: 700;
    text-decoration: underline;
    text-transform: capitalize;
  }
}

.issue {
  scroll-snap-align: start;
  display: grid;
  grid-template-rows:
    calc(2 * $margin-y + 1 / $title-ratio * $title-w) 1fr 1fr minmax(
      3.125rem,
      9.375rem
    )
    1fr
    calc(2 * $margin-y + 1 / $title-ratio * $title-w);
  grid-template-columns: 1fr minmax(0, 30rem) 1fr;
  height: 100svh;

  @media (width < 37.5rem) {
    grid-template-columns: 1fr minmax(0, 20rem) 1fr;
  }

  &__img {
    display: block;
    grid-row: 3;
    grid-column: 2;
    max-width: 100%;
  }

  &__text {
    grid-row: 4;
    grid-column: 2;
    font-weight: 700;
    text-align: center;
  }

  &__title {
    margin-block: 0;
    text-transform: capitalize;
  }

  &__desc {
    margin-top: 1.5625rem;
    margin-bottom: 0;
  }

  &__buy-link {
    text-transform: uppercase;
  }
}

#issue {
  // &-7 {
  //   background-color: #fd5f8d;
  // }
  // &-6 {
  //   background-color: #fff;
  // }
  // &-5 {
  //   background-color: #00c1b5;
  // }
  // &-4 {
  //   background-color: #ff651a;
  // }
  // &-3 {
  //   background-color: #ffbe00;
  // }
  // &-2 {
  //   background-color: #1d3fbb;
  // }
  // &-1 {
  //   background-color: #e30512;
  // }
}
